<!-- Set or Update Monthly Budget Form -->
<div class="budget-container">
  <h3>Set or Update Your Monthly Budget</h3>
  <form (ngSubmit)="setMonthlyBudget()">
    <input 
      type="number" 
      [(ngModel)]="monthlyBudget" 
      name="monthlyBudget" 
      placeholder="Enter your budget" 
      required />
    <button type="submit">Update Budget</button>
  </form>
</div>

<!-- Display Remaining Budget and Progress Bar -->
<div *ngIf="remainingBudget !== null">
  <h3>Remaining Budget: {{ remainingBudget }} $</h3>
  <div class="progress">
    <div class="progress-bar" 
         role="progressbar" 
         [style.width]="progressBarWidth + '%'" 
         [attr.aria-valuenow]="progressBarWidth" 
         aria-valuemin="0" 
         aria-valuemax="100">
      {{ progressBarWidth }}%
    </div>
  </div>
</div>

<!-- Expenses List -->
<h1>Expenses</h1>
<ul>
  <li *ngFor="let expense of expenses">
    <strong>{{ expense.name }}</strong><br>
    Amount : {{ expense.amount }} $<br>
    Category : {{ expense.categoryId }}<br>
    Date : {{ expense.date | date:'dd/MM/yyyy' }}<br>
    
    <!-- Delete Button -->
    <button class="btn btn-danger" (click)="openDeleteConfirmation(expense.id)">Delete</button>
  </li>
</ul>

<!-- Create New Expense Button -->
<button class="btn btn-primary" (click)="navigateToCreateExpense()">Create New Expense</button>

<!-- displaying a chart -->

<div style="display: block;">
  <canvas id="expenseChart"></canvas>
</div>


<!-- Confirmation Modal -->
<app-confirm-delete-modal 
  (deleteConfirmed)="deleteExpense(deleteExpenseId)" 
  (deleteCancelled)="cancelDelete()">
</app-confirm-delete-modal>
